<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Duels</title>

</head>
<body>
    <div style="padding: 10px; background-color: #00ffa7; margin: 20px">
        <p style="font-size: 20px">WELCOME TO MATH DUELS</p>
    </div>
    <a href="/lobby">Join Game</a>

    <a href="/profile">Profile</a>

    <div style="background-color:lightblue;">
        <p>Welcome {{ user }} !</p>
        <p>Login Success, click start to join a lobby and begin a match.</p>
    </div>

</body>
</html>