<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Math Duel Lobby</title>
</head>
<body>
    <p id="this_user">Welcome: {{ user }}</p>
    <p>Lobby Number: {{ num }}</p>
    <p>Players: {{ names }}</p>

    <div id="chat"></div>

    <form id="answer" method="POST" action=''>
        <input type="text" name="answer_question" id="answer_question">
        <input type="submit" value="Answer">
    </form>




</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            let socket = io("http://localhost:8080");

            let gameOver = false;

            socket.on('connect', function() {
                socket.emit("join", { "username": "{{ user }}", "room": "{{ num }}" });
            });

            socket.on('joined', function(msg) {
                let chat = $('#chat');
                let data = JSON.parse(msg);
                chat.append("<p>" + data["username"] + " has joined the lobby!" + "</p>");
                if(data["room_size"] === "2" || data["room_size"] === 2){
                    chat.append("<p>" + "TWO PLAYERS JOINED, THE GAME HAS STARTED!" + "</p>");
                    if("{{ user }}" === data["username"]) socket.emit("get_problem", {'room': "{{ num }}"});
                }
            });

            socket.on('problem', function(msg) {
                console.log("getting problem");
                let problem = JSON.parse(msg);
                let question = problem['question'];
                alert("THE PROBLEM IS: " + question);
            });

            socket.on('answered_incorrect', function(msg) {
                let chat = $('#chat');
                chat.append("<p>" + msg + "</p>");
            });

            socket.on('answered_correct', function(msg) {
                let chat = $('#chat');
                let data = JSON.parse(msg);
                chat.append("<p>" + data["user"] + " has answered " + data["answer"] + " and they are CORRECT!" + "</p>");
                chat.append("<h1>GAME OVER</h1>");
                gameOver = true;
                if("{{ user }}" === data["user"]){
                    socket.emit("solved_and_won", {"winner": data["user"]});
                }
                else{
                    socket.emit("solved_and_lost", {"loser": "{{ user }}"});
                }
                socket.emit("clear_room", {"room": "{{ num }}"});
            });

            $('form#answer').submit(function(event) {
                socket.emit('validate_answer', {"answer": $('#answer_question').val(), "user": "{{ user }}", "room": "{{ num }}"});
                return false;
            });
        });
    </script>
</html>