<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem for two users</title>
</head>
<body>
    <div>
        <p>Problem: {{ problem }}</p>
    </div>
</body>
<form>
    <label for="user1">User 1:</label><br>
    <input type="text" id="user1" name="user1"><br>
    <input type="submit" value="Submit"><br>
    <label for="user2">User 2:</label><br>
    <input type="text" id="user2" name="user2"><br>
    <input type="submit" value="Submit"><br>
</form>

<small hidden>{{ answer }}</small>